html {
    min-width: 1366px;
    max-width: 1920px;
}
body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

}
/* formattazione dei testi*/
h1 {
    font-size: 200%;
    color: #25a2c3;
    margin: 1vh;
}

h2 {
    font-size: 170%;
    margin: 1vh;
}

h3 {
    font-size: 140%;
    margin: 3vh;
}

h4 {
    font-size: 120%;
    color: #25a2c3;
    margin: 1vh;
}

h5 {
    font-size: 105%;
    margin-top: 3vh;
}

p {
    margin: 1vh;
    line-height: 3vh;
}

.headings {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#testimony {
font-style: oblique;
}

#ceotestimony {
font-size: 75%;
}

/* header */
header {
    background-color: black;
    text-align: left;
}

#logo {
    max-height: 5vh;
    padding: 3vh;
}
/* box intestazione */
nav {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 10vh 10vw;
}

button {
    color: white;
    background-color: #f04c2f;
    border-radius: 10%;
    border: none;
    padding: 1em;
    margin: 2vh;
}
/* blocco in orizzontale */
.sectionhorizontal {
    height: 426px;
    margin-bottom: 22vh;
    margin-top: 10vh;
}

.sectionhorizontal .boxhorizontal {
    display: inline-block;
}

.textboxhorizontal {
margin: 2vh;
}

.boxhorizontal {
    height: 426px;
    width: 426px;
    text-align: left;
    margin-left: 3vw;
}

#notebook {
    border-radius: 50%;
}
/* blocco rosso */
article {
    background-color: #e22d0e;
    color: white;
    padding: 4vh;
}
/* secondo blocco orizzontale */
aside .secondblockhorizontal {
    display: inline-block;
    margin: 3vh;
}

.foto2blocco {
height: 25vh;
}

.textbox2 {
    border: solid 2px #dee1e3;
    border-top: none;
    margin-top: 0
}
/* footer */
footer {
    background-color: #25a2c3;
    color: white;
    padding: 3vh;
}

h2 {
    margin: auto 41%;
    text-align: left;
}

.boxtextfoot {
    margin: auto 40%;
}

.textfoot {
    text-align: left;
}

.linkfoot {
    color: #c8e7f0;
}

